<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>Test d'envoi d'Email par Joseph ESSEY</h3>

    <strong>{{ date }}</strong>

    <strong> votre email {{ email }}</strong>

    <p style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi aliquid ab tempore recusandae, minus vero sint, eum reiciendis eaque, voluptate nobis expedita perferendis fuga sunt ea cupiditate corrupti non?</p>

    <em>Joseph
         ESSEY
         email 
         esseyjoseph17@gmail.com
    </em>

</body>
</html>